* {
    margin: 0;
    padding: 0;
  }


header{
background-color: grey;
height: 10vh;
}

.maine{
    display: flex;
  flex-wrap: wrap;
  height: 85vh;
width: 100%;
}

aside{
    width: 15%;
    height: 100%;
    background-color: darkgrey;
    
}

main{
background-color: darkslategrey;
height: 100%;
width: 85%;

}

footer{
    background-color: grey;
    height: 5vh;
}

body{
    width: 100%;
}


