* {
  margin: 0;
  padding: 0;
}

header {
  background-color: grey;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
}

.maine {
  display: flex;
  flex-wrap: wrap;
  height: 85%;
  width: 100%;
}

aside {
  width: 15%;
  height: 100%;
  background-color: darkgrey;
}

main {
  background-color: darkslategrey;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: grey;
  height: 5vh;
  padding-left: 25%;
  display: flex;
  justify-content: space-evenly;
}

body {
  width: 100%;
}

.pic {
  padding-top: 10%;
  padding-bottom: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.ButikBiblotekISP {
  display: flex;
  justify-content: space-between;
  padding-left: 10vh;
}

.Jerome {
  width: 100%;
  padding-left: 5%;
  padding-right: 20%;
}

.pokomon {
  border: 0.5pc solid black;
}

.Upper {
  display: flex;
  flex-wrap: wrap;
}

.bild {
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  width: 40%;
}

.bildText {
  padding: 0px;
  padding-top: 8%;
  width: 40%;
}

.pokomon{
  width: 100%;
}
/* 
.header-links1{
  padding-left: 10vh;
  padding-right: 20vh;
  
}
.header-links2{
  padding-left: 0vh;
  padding-right: 20vh;  
}
.header-links3{
  padding-left: 0vh;
  padding-right: 20vh;
  
}
*/
.AccountLogin {
  padding-left: 70vh;
}
